

.container-lg{
  height: 600px;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: stretch;
  align-content: space-between;


}
.container-lg .white {
  display: flex;
  background: white;
  text-align: center;



}
.container-lg .black {
  background: black;
  color: white;
  width: 600px;
  text-align: center;
  vertical-align: middle;
}
.container-lg .white1 {
  display: flex;
  background: white;
  text-align: center;
  width: 350px;
  background: white;
  text-align: center;
  border-style: outset;
  border-width: 1px;
  border-right: outset;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  color: black;


}
#btn btn-secondary btn-lg btn-block{
  display: flex;
  align-items: center;
  align-content: center;
}
